.app{
    display: grid;
    grid-template-columns: 200px auto;
    height: 100vh;
}

.sidebar{
    grid-column: 1;
    background-color: var(--main-bg-color);
    color: rgb(218, 218, 218);
    padding: 10px;
}

.sidebar ul{
    margin-top: 25px;
    border-top: 1px solid rgb(218, 218, 218);
    padding-top: 10px;
    padding-left: 0px;
    
}

.sidebar li{
    list-style: none;
    align-self: flex-start;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    padding-left: 5px;
}

.sidebar li::before{
    content: '#';
    margin-right: 5px ;
}

.sidebar li:hover{
    background-color: var(--darker-bg);
}

.main{
    grid-column: 2;
}

.active{
    background-color: var(--darker-bg);
}